//Body Content

.shell {
	max-width: 800px;
	margin: 0 auto;
}

.wrap{
max-width:800px;
min-height: 400px;
margin: 0 auto;
background: #000000;
}

.wrap-outer{
	@include box-shadow(0px 5px 15px 0px rgba(50, 50, 50, 0.75));
	padding-bottom: 240px;
	width: 800px;
	margin:0 auto;
}
.sdude-outer {
	position: absolute;
	margin-left: 330px;
	top: 260px;
	text-align: right;
	width:76px;
	overflow: hidden;

	&.play {
		margin-left: 200px;
		top: 170px;

		.sdude {
			background-size: cover;
			width: 40px;
			height: 88px;
		}
	}
}
.sdude {
	overflow: hidden;
	background: url(../images/didle.png);
	width: 65px;
	height: 145px;
	float: right;
	background-size: cover;
	background-position: 0px 0px;
	@include transition(0.1s all ease-in-out);

	&.throw {
		width: 65px;
		background-position: 0px 0px;
		background: url(../images/dthrow.png);
	}

	&.frown {
		width: 65px;
		background-position: 0px 0px;
		background: url(../images/dthrowfrown.png);
	}

	&.hide {
		opacity: 0;
	}


}


.content-inner {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	z-index: 5;
	position: relative;
}



.court {
	top: 360px;
	height: 280px;
	width: 800px;
	background: url(../images/courtcondensed.jpg);
	position: absolute;
	z-index: 1;

	&.play {
		@include transition(all 2s ease-in-out);
		background: url(../images/court2.jpg);
		height: 450px;
		top: 190px;
	}
}


.banner {
	width: 232px;
	height: 154px;
	background: url(../images/banner.png);
	position: relative;
	top: 180px;
	z-index: 10;
	left: -5px;
}


.bannermenu {
	top: 190px;
	position: absolute;
	display: none;
	ul {
		li {
			float: left;
			clear: both;
			display: block;
			background: $blue;
			padding: 10px 16px;
			margin-bottom: 5px;
			font-family: 'Montserrat';
			font-weight: 600;
			text-decoration: none;
			color: #FFF;

			&:hover {
				@include transition(all 0.1s ease-in);
				background: #e5e5e5;
				cursor: pointer;
				color:#333;
			}
		}
	}

	h3 {
		color: #FFF;
		font-family: 'Montserrat';
		font-size: 0.8em;
		margin-bottom: 40px;
	}
}

.help {
	width: 800px;
	background: rgba(0,0,0,0.8);
	height: 540px;
	position: absolute;
	top:0;
	left: 50%;
	text-align:center;
	z-index: 100;
	margin-left: -400px;	
	padding-top: 100px;
	@include transition(all 0.5s ease-in-out);
	&.hide {
		top: -640px;
	}

	h2, h3 {
		color: #FFF;
		font-size: 1.4em;
		font-family: 'Montserrat';
		margin-top: 10px;
	}
		
	h3 {
		margin-top: 2px;
		font-size: 0.8em;
	}
	
	img {
		width: auto;
		height: 70px;
		margin-top: 20px;
	}

	.mobile {
		&.hide {
			display: none;
		}
	}
	.desktop {

		&.hide {
			display: none;
		}
	}
	a {
		background: #00BEE7;
		color: #fff;
		font-size: 1em;
		padding: 10px 10px;
		display: block;		
		width: 120px;
		margin: 0 auto;
		text-decoration: none;
		font-family: 'Montserrat';
		margin-top: 15px;
		@include transition(0.2s all ease-in-out);

		&:hover {
			background: #e5e5e5;
			color: #333;
		}
	}
}


.dude {
	position:absolute;
	@include transition(0.1s all ease-in-out);
	top: 400px;
	left: 50%;	
	margin-left: -45px;
	z-index: 200;
	&.hide {
		display: none;
	}

	&.spin {
		@include transition(1s all ease-out);
		@include transform(rotate(800deg));
		left: 120%;
		top: 1200px;
	}

	&.left {
		left: -10%;
		@include transform(rotate(-800deg));
	}
}
.torso {
	background: url(../images/torso2.png);
	width: 95px;
	height: 171px;
	background-size: cover;

	margin: 0 auto;
	@include transition(0.1s all ease-in-out);
	@include transform-origin(50px, 165px);

	&.right {
		@include transform(rotateZ(40deg));
	}
	&.left {
		@include transform(rotateZ(-40deg));
	}

	&.hide {
		opacity: 0;
	}

	&.dead {
		position:relative;
	}

	&.deadScreen {
		width: 160px;
		height: 300px;
		position: relative;
		top: -120px;
		@include transform(rotate(61deg));
		left: -100px;

	}

}

.legs {
	background: url(../images/legs.png);
	width: 53px;
	height: 79px;
	top:-14px;
	position: relative;
	margin: 0 auto;

	&.deadScreen {
		display: none;
	}
}

.dodges {
	font-size: 0.9em;
	font-weight: 600;
	color: #e5e5e5;
	position: absolute;
	top: 50px;
	display: none;
	left:50%;
	margin-left: -200px;
	z-index: 500;
	font-family: 'Montserrat';
	span {
		padding-left: 4px;
		font-size: 1.6em;
		color: $blue;
	}

	&.ontop {
		@include transition(1s all ease-in-out);
		z-index: 500;
		font-size: 1.4em;
		top: 40px;
		margin-left: -90px;
	}
}

.tapToStartGameFromPractice{
	background: $blue;
	color: #fff;
	font-size: 1em;
	padding: 10px 10px;	
	text-decoration: none;
	position: absolute;
	top: 0px;
	font-family: 'Montserrat';
	display: none;
	@include transition(0.2s all ease-in-out);
	cursor: pointer;
	&:hover {
		background: #e5e5e5;
		color: #333;
	}
}

.cracked {
	background: url(../images/cracked.png);
    width: 800px;
    height: 450px;
    margin: 0 auto;
    position:absolute;
    left:50%;
    margin-left: -400px;
    z-index: 500;
    top: 180px;
	
	&.hide {
		display:none;
	}
}

.throwing {
	width: 600px;
	height: 118px;
	position: absolute;
	margin-left: 100px;
	top: 100px;
	&.hide {
		display: none;
	}

	h2.titl {
		margin: 10px 0;
	}

	.throwmore {
		float: right;
		margin-top:5px;
		color: #FFF;

		&.hide {
			visibility: hidden;
		}
	}

	.throwchoose {
		margin-top: 10px;
		background: $blue;
		float: left;
		width: 100%;
		clear: both;
		@include border-radius(15px);
		padding-bottom: 15px;
		h2 {
			font-size: 1em;
		}

		.throwcenter{
			margin:15px auto;
			width: 360px;
		}

		.throwitem {
			&:hover{
				@include box-shadow(inset 0 0 20px #333);
			}
		}
	}

	.throwsend{
		width: 100%;
		height: 120px;
		float: left;
		margin-top: 10px;
		&.hide {
			display: none;
		}

		.leftbox {
			float: left;
			width: 40%;
			text-align: left;
			font-family: 'Montserrat';

			&.right {
				width: 54%;
				float: right;
				input {
					float: left;
				}
			}

			span {
				font-size: 0.8em;
				color: #fff;
			}
			input {
				border: 0;
				background: #cccccc;
				font-size: 1em;
				padding: 10px;
				margin: 0;
				@include transition(0.2s all ease-in-out);
				&:focus {
					background: #FFFFFF;

				} 
				&.e {
					background: #cc0000;
				}
			}
			.addmore {
				background: $blue;
				color: #fff;
				font-size: 1em;
				padding: 11px 10px;	
				text-decoration: none;
				float: left;
				width: 40px;

				@include transition(0.2s all ease-in-out);
				cursor: pointer;
				&:hover {
					background: #e5e5e5;
					color: #333;
				}
			}

			.sendMails {
				
				color: #fff;
				font-size: 1em;
				padding: 12px 10px;	
				text-decoration: none;
				float: left;
				margin-top:5px;
				img {	
					margin-top: 5px;
					width: 40px;
					height: auto;
				}
				&.e {
					background: #cc0000;
				}
				&.hide {
					display: none;
				}

				@include transition(0.2s all ease-in-out);
				cursor: pointer;
				&:hover {
					background: $blue;
					color: #333;
				}
			}

			.mails {
				margin-top: 5px;
				float: left;
				width: 260px;
				span {
					padding: 6px 5px;
					float: left;
					clear: both;
					width: 250px;
					background: #333;
					&:hover {
						color: red;
						background: #990000;
						cursor: pointer;
					}
				}
			}
		}
	}
}
.throwlist {
	padding: 3px 0px;
	margin-top: 10px;
	float: left;
	border-bottom: $blue solid 2px;
	height: 118px;
	overflow: hidden;
	.throwitem {
		&:hover{
			@include box-shadow(inset 0 0 20px red);
		}
	}
	
}

.throwitem {
	background: url(../images/arrows.png);
	width: 60px;
	height: 118px;
	float: left;
	@include transition(0.2s all ease-in-out);

	cursor: pointer;
	

	&.skinny {
		width: 0px;
	}

	&.y {
		background-position: 0px 0;
	}
	&.x {
		background-position: 60px 0;
	}
	
	&.c {
		background-position: 180px 0;
	}
	&.t {
		background-position: 240px 0;
	}
	&.l {
		background-position: 120px 0;
	}
	&.r {
		background-position: 300px 0;
	}

}


#throwto {
	min-width: 240px; 
}