//Nav

.menu {
	font-family: 'Montserrat';
	position: relative;
	top: 100px;
	width: 500px;
	margin: 0 auto;
	ul {
		margin: 0 auto;
		display: block;
		position: relative;
		left: -10px;

		@include breakpoint(mobile) {
			display: none;
		}
		@include breakpoint(tablet) {
			display: none;
		}

		li {
			float: left;
			display: block;

			a {
				color: #FFF;
				font-size: 0.8em;
				text-decoration: none;
				padding: 10px 10px;
				display: block;
				font-weight: 600;
				border-top: transparent 0px solid;

				@include transition(all 0.2s ease-in-out);

				&:visited {

				}	

				&:hover {
					border-top: $blue 8px solid;
				}

				&.active {
					border-top: $blue 8px solid;
				}
			}

			&.spacer {
				width: 40%;
				height: 1px;
			}
		}

	}

	.challenged {
		display: none;
		color: #FFF;
		font-weight: 600;
		font-size: 1.8em;
		position: absolute;
		span {
			font-size: 1.1em;
			color: $blue;
		}
	}
}

