@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,100italic,300,100);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
/* line 17, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 15, ../scss/main.scss */
body {
  font-family: 'Source Sans Pro';
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: #e5e5e5; }

/* line 23, ../scss/main.scss */
p {
  line-height: 1.6em;
  font-weight: 300;
  font-size: 1em;
  margin-top: 30px; }

/* line 30, ../scss/main.scss */
a {
  color: #888888;
  text-decoration: underline; }
  /* line 35, ../scss/main.scss */
  a:visited {
    color: #888888; }
  /* line 39, ../scss/main.scss */
  a:hover {
    color: #000000;
    text-decoration: none; }

/* line 47, ../scss/main.scss */
h1 {
  font-size: 2em;
  color: #444444;
  font-family: 'Montserrat'; }

/* line 53, ../scss/main.scss */
code {
  background: #333333; }

/* line 57, ../scss/main.scss */
pre {
  display: block;
  background: #121212 !important;
  padding: 20px;
  margin-top: 1.5em !important;
  overflow: scroll;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 65, ../scss/main.scss */
  pre code[class*="language-"], pre code {
    background: none !important;
    box-shadow: none; }

/* line 6, ../scss/_ball.scss */
.ball-y {
  z-index: 100;
  position: absolute;
  top: 280px;
  left: 50%; }

/* line 13, ../scss/_ball.scss */
.ball-y.throw {
  -webkit-transition: all 1s cubic-bezier(1, 0, 1, 0.17);
  -moz-transition: all 1s cubic-bezier(1, 0, 1, 0.17);
  -o-transition: all 1s cubic-bezier(1, 0, 1, 0.17);
  transition: all 1s cubic-bezier(1, 0, 1, 0.17); }

/* line 17, ../scss/_ball.scss */
.ball-y.fast {
  -webkit-transition: all 0.8s cubic-bezier(0, 1.77, 1, -0.8);
  -moz-transition: all 0.8s cubic-bezier(0, 1.77, 1, -0.8);
  -o-transition: all 0.8s cubic-bezier(0, 1.77, 1, -0.8);
  transition: all 0.8s cubic-bezier(0, 1.77, 1, -0.8);
  -webkit-transition: all 0.8s cubic-bezier(1, -1.57, 1, 1.35);
  -moz-transition: all 0.8s cubic-bezier(1, -1.57, 1, 1.35);
  -o-transition: all 0.8s cubic-bezier(1, -1.57, 1, 1.35);
  transition: all 0.8s cubic-bezier(1, -1.57, 1, 1.35);
  margin-top: -100px; }

/* line 23, ../scss/_ball.scss */
.ball {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #ec3a38;
  position: absolute;
  margin-left: 100px; }
  /* line 31, ../scss/_ball.scss */
  .ball.hide {
    display: none; }
  /* line 34, ../scss/_ball.scss */
  .ball.big {
    width: 100px !important;
    height: 100px !important;
    -webkit-transition: all 1s cubic-bezier(1, 0, 1, 0);
    -moz-transition: all 1s cubic-bezier(1, 0, 1, 0);
    -o-transition: all 1s cubic-bezier(1, 0, 1, 0);
    transition: all 1s cubic-bezier(1, 0, 1, 0); }
  /* line 40, ../scss/_ball.scss */
  .ball.fast {
    -webkit-transition: all 0.8s cubic-bezier(1, 0, 1, 0);
    -moz-transition: all 0.8s cubic-bezier(1, 0, 1, 0);
    -o-transition: all 0.8s cubic-bezier(1, 0, 1, 0);
    transition: all 0.8s cubic-bezier(1, 0, 1, 0); }
  /* line 43, ../scss/_ball.scss */
  .ball.playing {
    width: 12px;
    height: 12px;
    opacity: 1 !important;
    margin-left: 0px; }

/* line 67, ../scss/_ball.scss */
.ball-x {
  margin-left: -20px; }

/* line 71, ../scss/_ball.scss */
.ball-x.l {
  -webkit-transition: all 1s cubic-bezier(0.05, 1.235, 0.995, -0.115);
  -moz-transition: all 1s cubic-bezier(0.05, 1.235, 0.995, -0.115);
  -o-transition: all 1s cubic-bezier(0.05, 1.235, 0.995, -0.115);
  transition: all 1s cubic-bezier(0.05, 1.235, 0.995, -0.115);
  margin-left: -140px; }

/* line 75, ../scss/_ball.scss */
.ball-x.r {
  -webkit-transition: all 1s cubic-bezier(0.05, 1.235, 0.995, -0.115);
  -moz-transition: all 1s cubic-bezier(0.05, 1.235, 0.995, -0.115);
  -o-transition: all 1s cubic-bezier(0.05, 1.235, 0.995, -0.115);
  transition: all 1s cubic-bezier(0.05, 1.235, 0.995, -0.115);
  margin-left: 120px; }

/* line 80, ../scss/_ball.scss */
.ball-x.t {
  -webkit-transition: all 0.8s cubic-bezier(0, 1.49, 1, -0.58);
  -moz-transition: all 0.8s cubic-bezier(0, 1.49, 1, -0.58);
  -o-transition: all 0.8s cubic-bezier(0, 1.49, 1, -0.58);
  transition: all 0.8s cubic-bezier(0, 1.49, 1, -0.58);
  margin-left: -40px; }

/* line 85, ../scss/_ball.scss */
.ball-x.c {
  margin-left: -10px;
  -webkit-transition: all 1s cubic-bezier(0.255, -0.6, 1, -0.6);
  -moz-transition: all 1s cubic-bezier(0.255, -0.6, 1, -0.6);
  -o-transition: all 1s cubic-bezier(0.255, -0.6, 1, -0.6);
  transition: all 1s cubic-bezier(0.255, -0.6, 1, -0.6); }

/* line 91, ../scss/_ball.scss */
.ball-x.x {
  /*@include transition(all 1s cubic-bezier(0.350, 1.635, 0.610, -0.600));
  @include transition(all 1s cubic-bezier(0.575, -0.595, 0.415, 1.650));
  @include transition(all 1s cubic-bezier(0.570, -0.570, 0.000, 1.650));
  @include transition(all 1s cubic-bezier(0.000, 1.650, 1.000, -0.600));
  @include transition(all 1s cubic-bezier(0.000, 1.650, 0.310, -0.595));
  */
  -webkit-transition: all 0.7s cubic-bezier(1, -0.9, 0, 1.9);
  -moz-transition: all 0.7s cubic-bezier(1, -0.9, 0, 1.9);
  -o-transition: all 0.7s cubic-bezier(1, -0.9, 0, 1.9);
  transition: all 0.7s cubic-bezier(1, -0.9, 0, 1.9);
  margin-left: 100px; }

/* line 102, ../scss/_ball.scss */
.ball-x.y {
  /*@include transition(all 1s cubic-bezier(0.000, 1.650, 0.0, -0.9));
  @include transition(all 1s cubic-bezier(0,1.77,1,-0.75));
  @include transition(all 1.4s cubic-bezier(0,1.77,1,-.33));*/
  -webkit-transition: all 0.7s cubic-bezier(1, -0.9, 0, 1.9);
  -moz-transition: all 0.7s cubic-bezier(1, -0.9, 0, 1.9);
  -o-transition: all 0.7s cubic-bezier(1, -0.9, 0, 1.9);
  transition: all 0.7s cubic-bezier(1, -0.9, 0, 1.9);
  margin-left: -100px; }

/* line 3, ../scss/_nav.scss */
.menu {
  font-family: 'Montserrat';
  position: relative;
  top: 100px;
  width: 500px;
  margin: 0 auto; }
  /* line 9, ../scss/_nav.scss */
  .menu ul {
    margin: 0 auto;
    display: block;
    position: relative;
    left: -10px; }
    @media (max-width: 540px) {
      /* line 9, ../scss/_nav.scss */
      .menu ul {
        display: none; } }
    @media (max-width: 767px) {
      /* line 9, ../scss/_nav.scss */
      .menu ul {
        display: none; } }
    /* line 22, ../scss/_nav.scss */
    .menu ul li {
      float: left;
      display: block; }
      /* line 26, ../scss/_nav.scss */
      .menu ul li a {
        color: #FFF;
        font-size: 0.8em;
        text-decoration: none;
        padding: 10px 10px;
        display: block;
        font-weight: 600;
        border-top: transparent 0px solid;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        /* line 41, ../scss/_nav.scss */
        .menu ul li a:hover {
          border-top: #00bee7 8px solid; }
        /* line 45, ../scss/_nav.scss */
        .menu ul li a.active {
          border-top: #00bee7 8px solid; }
      /* line 50, ../scss/_nav.scss */
      .menu ul li.spacer {
        width: 40%;
        height: 1px; }
  /* line 58, ../scss/_nav.scss */
  .menu .challenged {
    display: none;
    color: #FFF;
    font-weight: 600;
    font-size: 1.8em;
    position: absolute; }
    /* line 64, ../scss/_nav.scss */
    .menu .challenged span {
      font-size: 1.1em;
      color: #00bee7; }

/* line 3, ../scss/_body.scss */
.shell {
  max-width: 800px;
  margin: 0 auto; }

/* line 8, ../scss/_body.scss */
.wrap {
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
  background: #000000; }

/* line 15, ../scss/_body.scss */
.wrap-outer {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
  padding-bottom: 240px;
  width: 800px;
  margin: 0 auto; }

/* line 21, ../scss/_body.scss */
.sdude-outer {
  position: absolute;
  margin-left: 330px;
  top: 260px;
  text-align: right;
  width: 76px;
  overflow: hidden; }
  /* line 29, ../scss/_body.scss */
  .sdude-outer.play {
    margin-left: 200px;
    top: 170px; }
    /* line 33, ../scss/_body.scss */
    .sdude-outer.play .sdude {
      background-size: cover;
      width: 40px;
      height: 88px; }

/* line 40, ../scss/_body.scss */
.sdude {
  overflow: hidden;
  background: url(../images/didle.png);
  width: 65px;
  height: 145px;
  float: right;
  background-size: cover;
  background-position: 0px 0px;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out; }
  /* line 50, ../scss/_body.scss */
  .sdude.throw {
    width: 65px;
    background-position: 0px 0px;
    background: url(../images/dthrow.png); }
  /* line 56, ../scss/_body.scss */
  .sdude.frown {
    width: 65px;
    background-position: 0px 0px;
    background: url(../images/dthrowfrown.png); }
  /* line 62, ../scss/_body.scss */
  .sdude.hide {
    opacity: 0; }

/* line 70, ../scss/_body.scss */
.content-inner {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
  position: relative; }

/* line 80, ../scss/_body.scss */
.court {
  top: 360px;
  height: 280px;
  width: 800px;
  background: url(../images/courtcondensed.jpg);
  position: absolute;
  z-index: 1; }
  /* line 88, ../scss/_body.scss */
  .court.play {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    background: url(../images/court2.jpg);
    height: 450px;
    top: 190px; }

/* line 97, ../scss/_body.scss */
.banner {
  width: 232px;
  height: 154px;
  background: url(../images/banner.png);
  position: relative;
  top: 180px;
  z-index: 10;
  left: -5px; }

/* line 108, ../scss/_body.scss */
.bannermenu {
  top: 190px;
  position: absolute;
  display: none; }
  /* line 113, ../scss/_body.scss */
  .bannermenu ul li {
    float: left;
    clear: both;
    display: block;
    background: #00bee7;
    padding: 10px 16px;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-decoration: none;
    color: #FFF; }
    /* line 125, ../scss/_body.scss */
    .bannermenu ul li:hover {
      -webkit-transition: all 0.1s ease-in;
      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;
      background: #e5e5e5;
      cursor: pointer;
      color: #333; }
  /* line 134, ../scss/_body.scss */
  .bannermenu h3 {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 0.8em;
    margin-bottom: 40px; }

/* line 142, ../scss/_body.scss */
.help {
  width: 800px;
  background: rgba(0, 0, 0, 0.8);
  height: 540px;
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  z-index: 100;
  margin-left: -400px;
  padding-top: 100px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  /* line 154, ../scss/_body.scss */
  .help.hide {
    top: -640px; }
  /* line 158, ../scss/_body.scss */
  .help h2, .help h3 {
    color: #FFF;
    font-size: 1.4em;
    font-family: 'Montserrat';
    margin-top: 10px; }
  /* line 165, ../scss/_body.scss */
  .help h3 {
    margin-top: 2px;
    font-size: 0.8em; }
  /* line 170, ../scss/_body.scss */
  .help img {
    width: auto;
    height: 70px;
    margin-top: 20px; }
  /* line 177, ../scss/_body.scss */
  .help .mobile.hide {
    display: none; }
  /* line 183, ../scss/_body.scss */
  .help .desktop.hide {
    display: none; }
  /* line 187, ../scss/_body.scss */
  .help a {
    background: #00BEE7;
    color: #fff;
    font-size: 1em;
    padding: 10px 10px;
    display: block;
    width: 120px;
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Montserrat';
    margin-top: 15px;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out; }
    /* line 200, ../scss/_body.scss */
    .help a:hover {
      background: #e5e5e5;
      color: #333; }

/* line 208, ../scss/_body.scss */
.dude {
  position: absolute;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  top: 400px;
  left: 50%;
  margin-left: -45px;
  z-index: 200; }
  /* line 215, ../scss/_body.scss */
  .dude.hide {
    display: none; }
  /* line 219, ../scss/_body.scss */
  .dude.spin {
    -webkit-transition: 1s all ease-out;
    -moz-transition: 1s all ease-out;
    -o-transition: 1s all ease-out;
    transition: 1s all ease-out;
    -webkit-transform: rotate(800deg);
    -moz-transform: rotate(800deg);
    -ms-transform: rotate(800deg);
    -o-transform: rotate(800deg);
    transform: rotate(800deg);
    left: 120%;
    top: 1200px; }

/* line 226, ../scss/_body.scss */
.torso {
  background: url(../images/torso2.png);
  width: 95px;
  height: 171px;
  background-size: cover;
  margin: 0 auto;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  -webkit-transform-origin: 50px 165px;
  -moz-transform-origin: 50px 165px;
  -ms-transform-origin: 50px 165px;
  -o-transform-origin: 50px 165px;
  transform-origin: 50px 165px; }
  /* line 236, ../scss/_body.scss */
  .torso.right {
    -webkit-transform: rotateZ(40deg);
    -moz-transform: rotateZ(40deg);
    -ms-transform: rotateZ(40deg);
    -o-transform: rotateZ(40deg);
    transform: rotateZ(40deg); }
  /* line 239, ../scss/_body.scss */
  .torso.left {
    -webkit-transform: rotateZ(-40deg);
    -moz-transform: rotateZ(-40deg);
    -ms-transform: rotateZ(-40deg);
    -o-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg); }
  /* line 243, ../scss/_body.scss */
  .torso.hide {
    opacity: 0; }
  /* line 247, ../scss/_body.scss */
  .torso.dead {
    position: relative; }
  /* line 251, ../scss/_body.scss */
  .torso.deadScreen {
    width: 160px;
    height: 300px;
    position: relative;
    top: -120px;
    -webkit-transform: rotate(61deg);
    -moz-transform: rotate(61deg);
    -ms-transform: rotate(61deg);
    -o-transform: rotate(61deg);
    transform: rotate(61deg);
    left: -100px; }

/* line 263, ../scss/_body.scss */
.legs {
  background: url(../images/legs.png);
  width: 53px;
  height: 79px;
  top: -14px;
  position: relative;
  margin: 0 auto; }
  /* line 271, ../scss/_body.scss */
  .legs.deadScreen {
    display: none; }

/* line 276, ../scss/_body.scss */
.dodges {
  font-size: 0.9em;
  font-weight: 600;
  color: #e5e5e5;
  position: absolute;
  top: 50px;
  display: none;
  left: 50%;
  margin-left: -200px;
  z-index: 500;
  font-family: 'Montserrat'; }
  /* line 287, ../scss/_body.scss */
  .dodges span {
    padding-left: 4px;
    font-size: 1.6em;
    color: #00bee7; }
  /* line 293, ../scss/_body.scss */
  .dodges.ontop {
    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all ease-in-out;
    -o-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out;
    z-index: 500;
    font-size: 1.4em;
    top: 150px; }

/* line 301, ../scss/_body.scss */
.tapToStartGameFromPractice {
  background: #00BEE7;
  color: #fff;
  font-size: 1em;
  padding: 10px 10px;
  text-decoration: none;
  position: absolute;
  top: 0px;
  font-family: 'Montserrat';
  display: none;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  cursor: pointer; }
  /* line 313, ../scss/_body.scss */
  .tapToStartGameFromPractice:hover {
    background: #e5e5e5;
    color: #333; }

/* line 319, ../scss/_body.scss */
.cracked {
  background: url(../images/cracked.png);
  width: 800px;
  height: 450px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  z-index: 500;
  top: 180px; }
  /* line 330, ../scss/_body.scss */
  .cracked.hide {
    display: none; }
